$section_headline_height: 80vh;

#section_headline_container {
  display: inline-block;
  min-height: 80vh;
}

#section_headline {
  position: relative;
  height: $section_headline_height;
  width: 100vw;
  background: #131b1c;
  background: linear-gradient(315deg, #d4e8f6 30%, #ffffff 100%);

  h1, h2, p {
    color: #131b1c;
    font-family: 'Questrial', sans-serif;
    font-weight: 400;
  }

  #qr_code {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  h1 {
    margin-top: 0.2em;
    font-size: 8em;
    margin-bottom: -0.1em;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  h1, p, img{
    position: relative;
    z-index: 3;
  }

  #alert {
    position: relative;
    z-index: 3 ;
  }

  .cover_imgs_container {
    padding-top: 1em;
    padding-bottom: 40px;
  }

  .vLine1, .vLine2, .vLine3, .vLine4, .vLine5, .vLine6 {
    position: absolute;
    top: 0;
    height: $section_headline_height;
    width: 1px;
    // z-index: 2;
  }

  .node_sm1 {
    top: 35vh;
    left: -6px;
  }
  .node_sm2 {
    top: 60vh;
    left: -6px;
  }
}

@media (min-width: 768px) { 
  #section_headline {
    h1 {
      font-size: 13em;
    }
    h2 {
      font-size: 2em;
    }
    .vLine3 {left: 43%;}
  }
  #section_headline_container {
    min-height: 120vh;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Your styles for medium screens only */
  #section_headline_container {
    min-height: 60vh;
  }
}
.cover_imgs_container {
  @media (max-width: 768px) {
    margin-bottom: -10px;
    position: relative;
    z-index: 1;
    padding-bottom: 60px;
  }
}


